In [3]:
import pandas as pd

In [20]:
submission_paths = [
    'submissions/effnet-b5-ns-balanced-affine-jitter-scheduler-cv-mean.csv',
    'submissions/effnet-b6-ns-balanced-affine-jitter-scheduler-cv-mean.csv',
    'submissions/effnet-b7-ns-balanced-affine-jitter-scheduler-cv-mean.csv',
    'submissions/effnet-b5-ns-balanced-affine-1cycle-wd-scheduler-cv-mean.csv',
    'submissions/effnet-b3-balanced-affine-jitter-scheduler-cv-mean.csv'
]

In [21]:
all_predictions = None

for index, submission_path in enumerate(submission_paths):
    model_predictions = pd.read_csv(submission_path)
    model_predictions = model_predictions.rename(columns={'target': f'target{index+1}'})
    if all_predictions is None:
        all_predictions = model_predictions
    else:
        all_predictions = pd.merge(all_predictions, model_predictions, on='image_name')

In [22]:
all_predictions.head()

     image_name   target1   target2   target3   target4   target5
0  ISIC_0052060  0.016481  0.017987  0.030541  0.002157  0.029731
1  ISIC_0052349  0.001744  0.008006  0.005298  0.001688  0.001369
2  ISIC_0058510  0.004452  0.014173  0.008382  0.001644  0.006452
3  ISIC_0073313  0.002405  0.002266  0.009098  0.002389  0.002968
4  ISIC_0073502  0.028791  0.025128  0.029619  0.002645  0.001864

In [23]:
target_columns = [f'target{index+1}' for index in range(len(submission_paths))]

In [24]:
target_columns

['target1', 'target2', 'target3', 'target4', 'target5']

In [25]:
all_predictions

         image_name   target1   target2   target3   target4   target5
0      ISIC_0052060  0.016481  0.017987  0.030541  0.002157  0.029731
1      ISIC_0052349  0.001744  0.008006  0.005298  0.001688  0.001369
2      ISIC_0058510  0.004452  0.014173  0.008382  0.001644  0.006452
3      ISIC_0073313  0.002405  0.002266  0.009098  0.002389  0.002968
4      ISIC_0073502  0.028791  0.025128  0.029619  0.002645  0.001864
...             ...       ...       ...       ...       ...       ...
10977  ISIC_9992485  0.064701  0.047101  0.058131  0.006015  0.043595
10978  ISIC_9996992  0.237437  0.413337  0.298989  0.432032  0.116777
10979  ISIC_9997917  0.336075  0.373075  0.364439  0.160063  0.535186
10980  ISIC_9998234  0.019738  0.042281  0.012740  0.005958  0.012843
10981  ISIC_9999302  0.307069  0.511643  0.355933  0.204822  0.630655

[10982 rows x 6 columns]

In [26]:
# all_predictions['variance'] = all_predictions[target_columns].median(axis=1)

In [27]:
# all_predictions.sort_values(by='variance')

In [28]:
all_predictions['target'] = all_predictions[target_columns].mean(axis=1)

In [29]:
all_predictions = all_predictions.drop(columns=target_columns)

In [30]:
all_predictions

         image_name    target
0      ISIC_0052060  0.019379
1      ISIC_0052349  0.003621
2      ISIC_0058510  0.007021
3      ISIC_0073313  0.003825
4      ISIC_0073502  0.017609
...             ...       ...
10977  ISIC_9992485  0.043908
10978  ISIC_9996992  0.299714
10979  ISIC_9997917  0.353768
10980  ISIC_9998234  0.018712
10981  ISIC_9999302  0.402024

[10982 rows x 2 columns]

In [31]:
all_predictions.to_csv('submissions/ensembles/effnet-b5-input-sizes-b6-b7-b3.csv', index=False)